/* MyComponent.module.css */
.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items horizontally */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px; /* Add space below the title */
}

.nav {
    margin-top: 10px; /* Add space above the navigation */

}
.link {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .link:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    color: #0056b3; /* Darker blue text color */
  }
  
  .active {
    font-weight: bold;
    color: #d9534f; /* A reddish color to make it stand out */
    background-color: #fce4e4; /* Light red background */
    border-bottom: 3px solid #d9534f; /* Underline effect for active link */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  }